@font-face {
    font-family: 'Young Serif';
    src: url(./YoungSerif-Regular.ttf);
}

body {
    margin: auto;
    padding: 3rem;
    width: 70%;
    max-width: 800px;

    font-family: 'Young Serif', serif;
    font-size: larger;
}

.text-highlight {
    background-color: black;
    color: white;
    text-shadow: -1px 1px #5ea560, 1px -1px #eaa3e6;
}

.title {
    font-size: 40px;
    padding: 1rem;
    text-shadow: -2px 2px #5ea560, 2px -2px #eaa3e6;
}

body>div {
    display: flex;
    align-items: start;
}

.sidebar {
    flex-shrink: 0;
    width: 100%;
    max-width: 150px;
}

body>article {
    flex-grow: 1;
}

.sidebar>article {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#logo {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
}

h1#marquee {
    border-width: 3px 0 3px 0;
    border-color: black;
    border-style: ridge;
}

h3 {
    transform: rotate(-1deg);
    margin-bottom: -0.6rem;
    text-decoration: underline;
}